/* ------ general
-----------------------------------------------*/

body {
font-family:Arial, Helvetica, sans-serif;
background:url(../img/grid.jpg) repeat;
font-size:5px;
width:150px;
height:820px;
}

.wrapper {
margin:0 auto;
width:150px;
height:150px;
position:relative;
}

#map {
float:left;
clear:both;
width:20px;
height:20px;
}

.point {
position:absolute;
display:none;
padding:10px 15px;
background:#7BB9F0;
font-size:14px;
font-weight:bold;
-moz-border-radius:8px;
}

.point .close {
display:block;
position:absolute;
top:-10px;
right:-10px;
width:24px;
height:24px;
text-indent:-9999px;
outline:none;
background:url(../img/close.png) no-repeat;
}

.point img {
vertical-align:middle;
margin-right:10px;
}

a img {
border:none;
}

*{
    font-family: Areal;
}

.b-container{
    width:0px;
    height:0px;
    background-color: #ccc;
    margin:0px 0px;
    padding:0px;
    font-size:30px;
    color: #fff;
	
	visibility: hidden;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:10px 10px 200px 10px;
    width:260px;
    height: 60px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

